= form_for @absen do |f|
  -if @absen.errors.any?
    #error_explanation
      %h2= "#{pluralize(@absen.errors.count, "error")} prohibited this absen from being saved:"
      %ul
        - @absen.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :karyawan_id
    = f.number_field :karyawan_id
  .field
    = f.label :status
    = f.text_field :status
  .field
    = f.label :reason
    = f.text_area :reason
  .actions
    = f.submit 'Save'
