%p#notice= notice

%p
  %b Karyawan:
  = @absen.karyawan_id
%p
  %b Status:
  = @absen.status
%p
  %b Reason:
  = @absen.reason

= link_to 'Edit', edit_absen_path(@absen)
\|
= link_to 'Back', absens_path
