= form_for @pengalaman do |f|
  -if @pengalaman.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pengalaman.errors.count, "error")} prohibited this pengalaman from being saved:"
      %ul
        - @pengalaman.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :campany
    = f.text_field :campany
  .field
    = f.label :job_title
    = f.text_field :job_title
  .field
    = f.label :job_desc
    = f.text_area :job_desc
  .field
    = f.label :from
    = f.datetime_select :from
  .field
    = f.label :to
    = f.datetime_select :to
  .field
    = f.label :reason
    = f.text_area :reason
  .actions
    = f.submit 'Save'
