= form_for @holyday do |f|
  -if @holyday.errors.any?
    #error_explanation
      %h2= "#{pluralize(@holyday.errors.count, "error")} prohibited this holyday from being saved:"
      %ul
        - @holyday.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :karyawan_id
    = f.number_field :karyawan_id
  .field
    = f.label :from
    = f.datetime_select :from
  .field
    = f.label :to
    = f.datetime_select :to
  .field
    = f.label :subsitution_id
    = f.number_field :subsitution_id
  .field
    = f.label :emergency_addres
    = f.text_area :emergency_addres
  .field
    = f.label :emergency_phone
    = f.text_field :emergency_phone
  .field
    = f.label :keterangan
    = f.text_area :keterangan
  .actions
    = f.submit 'Save'
