%p#notice= notice

%p
  %b Nama:
  = @bank.nama
%p
  %b Account number:
  = @bank.account_number
%p
  %b Account nama:
  = @bank.account_nama
%p
  %b Cabang:
  = @bank.cabang
%p
  %b Karyawan:
  = @bank.karyawan_id

= link_to 'Edit', edit_bank_path(@bank)
\|
= link_to 'Back', banks_path
