= form_for @pendidikan do |f|
  -if @pendidikan.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pendidikan.errors.count, "error")} prohibited this pendidikan from being saved:"
      %ul
        - @pendidikan.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :karyawan_id
    = f.number_field :karyawan_id
  .field
    = f.label :grade
    = f.text_field :grade
  .field
    = f.label :institusi
    = f.text_field :institusi
  .field
    = f.label :jurusan
    = f.text_field :jurusan
  .field
    = f.label :from
    = f.datetime_select :from
  .field
    = f.label :to
    = f.datetime_select :to
  .actions
    = f.submit 'Save'
