%h2 Data Pendidikan Karyawan

%table
  %tr
    %th From
    %th To
    %th Karyawan
    %th Grade
    %th Institusi
    %th Jurusan
    %th
    %th
    %th

  - @pendidikans.each do |pendidikan|
    %tr
      %td= pendidikan.from
      %td= pendidikan.to
      %td= pendidikan.karyawan_id
      %td= pendidikan.grade
      %td= pendidikan.institusi
      %td= pendidikan.jurusan
      %td= link_to 'Show', pendidikan
      %td= link_to 'Edit', edit_pendidikan_path(pendidikan)
      %td= link_to 'Destroy', pendidikan, method: :delete, data: { confirm: 'Are you sure?' }

%br

