= form_for @divisi do |f|
  -if @divisi.errors.any?
    #error_explanation
      %h2= "#{pluralize(@divisi.errors.count, "error")} prohibited this divisi from being saved:"
      %ul
        - @divisi.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :nama
    = f.text_field :nama
  .field
    = f.label :keterangan
    = f.text_area :keterangan
  .actions
    = f.submit 'Save'
