%h2 Daftar Divisi Perusahaan

%table
  %tr
    %th Keterangan
    %th Nama
    %th
    %th
    %th

  - @divisis.each do |divisi|
    %tr
      %td= divisi.keterangan
      %td= divisi.nama
      %td= link_to 'Show', divisi
      %td= link_to 'Edit', edit_divisi_path(divisi)
      %td= link_to 'Destroy', divisi, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Divisi', new_divisi_path
