= form_for @gaji do |f|
  -if @gaji.errors.any?
    #error_explanation
      %h2= "#{pluralize(@gaji.errors.count, "error")} prohibited this gaji from being saved:"
      %ul
        - @gaji.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :karyawan_id
    = f.number_field :karyawan_id
  .field
    = f.label :bonus
    = f.number_field :bonus
  .field
    = f.label :pajak
    = f.number_field :pajak
  .field
    = f.label :jamsostek
    = f.number_field :jamsostek
  .field
    = f.label :other_value
    = f.text_field :other_value
  .field
    = f.label :other_desc
    = f.text_field :other_desc
  .actions
    = f.submit 'Save'
