%h1 Listing gajis

%table
  %tr
    %th Karyawan
    %th Bonus
    %th Pajak
    %th Jamsostek
    %th Other value
    %th Other desc
    %th
    %th
    %th

  - @gajis.each do |gaji|
    %tr
      %td= gaji.karyawan_id
      %td= gaji.bonus
      %td= gaji.pajak
      %td= gaji.jamsostek
      %td= gaji.other_value
      %td= gaji.other_desc
      %td= link_to 'Show', gaji
      %td= link_to 'Edit', edit_gaji_path(gaji)
      %td= link_to 'Destroy', gaji, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Gaji', new_gaji_path
