%h2 Data Gaji Karyawan

%table.table
  %tr
    %th Karyawan
    %th Bonus
    %th Jamsostek
    %th Pajak
    %th Other desc
    %th Other value
    %th
    %th
    %th

  - @gajis.each do |gaji|
    %tr
      %td= gaji.karyawan.name
      %td= gaji.bonus
      %td= gaji.jamsostek
      %td= gaji.pajak

      %td= gaji.other_desc
      %td= gaji.other_value
      %td= link_to 'Show', gaji
      %td= link_to 'Edit', edit_gaji_path(gaji)
      %td= link_to 'Destroy', gaji, method: :delete, data: { confirm: 'Are you sure?' }

%hr
= link_to '<i class="icon icon-plus"></i> Input Gaji'.html_safe, new_gaji_path, :class => "btn btn-primary"
