%p#notice= notice

%p
  %b Bonus:
  = @gaji.bonus
%p
  %b Jamsostek:
  = @gaji.jamsostek
%p
  %b Pajak:
  = @gaji.pajak
%p
  %b Karyawan:
  = @gaji.karyawan_id
%p
  %b Other desc:
  = @gaji.other_desc
%p
  %b Other value:
  = @gaji.other_value

= link_to 'Edit', edit_gaji_path(@gaji)
\|
= link_to 'Back', gajis_path
