= form_for @jabatan do |f|
  -if @jabatan.errors.any?
    #error_explanation
      %h2= "#{pluralize(@jabatan.errors.count, "error")} prohibited this jabatan from being saved:"
      %ul
        - @jabatan.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :nama
    = f.text_field :nama
  .field
    = f.label :divisi_id
    = f.number_field :divisi_id
  .field
    = f.label :holyday_quota
    = f.number_field :holyday_quota
  .field
    = f.label :keterangan
    = f.text_area :keterangan
  .actions
    = f.submit 'Save'
