%h2 Daftar Jabatan Perusahaan

%table.table
  %tr
    %th Nama
    %th Divisi
    %th Holyday quota
    %th Keterangan
    %th
    %th
    %th

  - @jabatans.each do |jabatan|
    %tr
      %td= jabatan.nama
      %td= jabatan.divisi.nama
      %td= jabatan.holyday_quota
      %td= jabatan.keterangan

      %td= link_to 'Show', jabatan
      %td= link_to 'Edit', edit_jabatan_path(jabatan)
      %td= link_to 'Destroy', jabatan, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Jabatan', new_jabatan_path
