%p#notice= notice

%p
  %b Nama:
  = @jabatan.nama
%p
  %b Divisi:
  = @jabatan.divisi_id
%p
  %b Holyday quota:
  = @jabatan.holyday_quota
%p
  %b Keterangan:
  = @jabatan.keterangan

= link_to 'Edit', edit_jabatan_path(@jabatan)
\|
= link_to 'Back', jabatans_path
