.row-fluid
	.span4
		%h2 Daftar Karyawan
	.span8
		.pull-right
			%form.form-search{:action => karyawans_path, :method => :get}
				%input{:type => :text, :name => 'q', :class => "search-query", :placeholder => "Nama atau NIK", :value => params[:q]}
				%button.btn Cari
%hr
.row-fluid
	%table.table.table-bordered.table-stripped
		.thead
			%tr
				%th.span2 Nama lengkap
				%th Kelamin
				%th Npwp
				%th Gaji pokok
				%th Jabatan
				%th Email
				%th Action
		.tbody
			- @karyawans.each do |karyawan|
				%tr
					%td.span3
						%b= karyawan.nama_lengkap
						%br
						%small="NIK : #{karyawan.nik}"
					%td= karyawan.kelamin
					%td= karyawan.npwp
					%td= karyawan.gaji_pokok
					%td= karyawan.jabatan_id
					%td= karyawan.email
					%td.span3
						.center-text
							= link_to 'Show', karyawan
							-if can?([:edit, :destroy], karyawan)
								= link_to 'Edit', edit_karyawan_path(karyawan)
								= link_to 'Destroy', karyawan, method: :delete, data: { confirm: 'Are you sure?' }
/ =will_paginate @cities
%hr
= link_to 'New Karyawan', new_karyawan_path
