%p#notice= notice
%h2.dont-print Data Karyawan
%hr
.row-fluid
	.span8
		%h3=@karyawan.nama_lengkap
		=@karyawan.jabatan.nama
		%hr
		%h4
			%i.icon.icon-user-3
			Data Pribadi
		%table.table.table-striped
			%tr
				%td NIK
				%td=@karyawan.nik
			%tr
				%td NPWP
				%td=@karyawan.npwp
			%tr
				%td Tanggal Lahir
				%td=@karyawan.tanggal_lahir
			%tr
				%td Tempat lahir
				%td=@karyawan.tempat_lahir
			%tr
				%td Alamat
				%td=@karyawan.alamat
			%tr
				%td Email
				%td=@karyawan.email
	.span4
		=image_tag('https://secure.gravatar.com/avatar/9601cebd47e3bc0ebb245caca9290b9c?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png', :class => 'img-polaroid')
%h4 
	%i.icon.icon-list-2
	Pengalaman
%hr
.pengalaman-list			
	-for experience in @karyawan.pengalamen
		.pengalaman-item
			%h4.company=experience.company
			%p.line_overview="#{experience.job_title}, #{experience.from.strftime('%B %Y')} - #{experience.to.strftime('%B %Y')}"
			%small Job Description
			%p.job_desc="#{experience.job_desc}"
			.reason.alert.alert-info
				%small Alasan Berhenti:
				%p.reason="#{experience.reason}"

%br
%h4
	%i.icon.icon-pencil-2
	Pendidikan
	%hr.empty-top
%table.table
	%thead
		%tr
			%th Institusi
			%th Strata
			%th Jurusan
			%th Tahun Masuk
			%th Tahun Lulus
	%tbody
		-for pendidikan in @karyawan.pendidikans
			%tr
				%td=pendidikan.institusi
				%td=pendidikan.grade
				%td=pendidikan.jurusan
				%td=pendidikan.from
				%td=pendidikan.to
	
