%p#notice= notice

%p
  %b Nama lengkap:
  = @karyawan.nama_lengkap
%p
  %b Nik:
  = @karyawan.nik
%p
  %b Tempat lahir:
  = @karyawan.tempat_lahir
%p
  %b Tangal lahir:
  = @karyawan.tanggal_lahir
%p
  %b Alamat:
  = @karyawan.alamat
%p
  %b Kota:
  = @karyawan.kota_id
%p
  %b Provinsi:
  = @karyawan.provinsi_id
%p
  %b Kelamin:
  = @karyawan.kelamin
%p
  %b Agama:
  = @karyawan.agama
%p
  %b Npwp:
  = @karyawan.npwp
%p
  %b Jabatan:
  = @karyawan.jabatan_id

= link_to 'Edit', edit_karyawan_path(@karyawan)
\|
= link_to 'Back', karyawans_path
