= form_for @provinsi do |f|
  -if @provinsi.errors.any?
    #error_explanation
      %h2= "#{pluralize(@provinsi.errors.count, "error")} prohibited this provinsi from being saved:"
      %ul
        - @provinsi.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :nama
    = f.text_field :nama
  .actions
    = f.submit 'Save'
