%h1 Listing provinsis

%table
  %tr
    %th Nama
    %th
    %th
    %th

  - @provinsis.each do |provinsi|
    %tr
      %td= provinsi.nama
      %td= link_to 'Show', provinsi
      %td= link_to 'Edit', edit_provinsi_path(provinsi)
      %td= link_to 'Destroy', provinsi, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Provinsi', new_provinsi_path
