%h2 Listing cities

%table.table
  %tr
    %th Nama
    %th Province
    %th
    %th
    %th

  - @cities.each do |city|
    %tr
      %td= city.nama
      %td= city.province.nama
      %td= link_to 'Show', city
      %td
        -if can?(:edit, city)
          = link_to 'Edit', edit_city_path(city)
      %td
        -if can?(:destroy, city)
          = link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' }

=will_paginate @cities
%hr
= link_to '<i class="icon icon-plus"></i> New City'.html_safe, new_city_path, :class => "btn btn-primary"
