%h2 Listing provinces

%table.table
  %tr
    %th Nama
    %th
    %th
    %th

  - @provinces.each do |province|
    %tr
      %td= province.nama
      %td= link_to 'Show', province
      %td= link_to 'Edit', edit_province_path(province)
      %td= link_to 'Destroy', province, method: :delete, data: { confirm: 'Are you sure?' }

%hr
=will_paginate @provinces
= link_to '<i class="icon icon-plus"></i> New Province'.html_safe, new_province_path, :class => "btn btn-primary"
