%ul.menu
	%li 
		= link_to "Karyawan", karyawans_path
	%li 
		= link_to "Gaji", gajis_path
	%li 
		= link_to "Cuti", holydays_path
	%li
		= link_to "Absen", absens_path
	%li
		= link_to "Pengalaman", pengalamen_path
	%li 
		= link_to "Riwayat Pendidikan", pendidikans_path